
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


body{
    margin-top: 10px;
}
nav{
    
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 15px;
}
.extra{
    display: flex;
    gap:40px;

}

.but{
    background-color: rgb(65, 163, 65);
    height: 35px;
    border-radius: 4px;
    border-color:rgb(110, 196, 110); ;
    color: #fff;
    width: 150px;
}